{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{{posts.title}}{% endblock %}
{% block content %}
  


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          
          
          </div>
            <div>
                <p>update</p>
              <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
            </form>
            </div>
          
        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock content %}
  