{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{{posts.title}}{% endblock %}
{% block content %}
  
<img src="/static/img/base.jpg" alt="" height="500px" width="100%">
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row m-5">
        <div class="p-5">
          
          
          
          </div>
            <div>
                <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <input type="submit" class="btn-danger btn" value="Confirm">
                    <a href="{% url 'core:draft' %}" class="btn-defualt btn"> Cancel</a>
                </form>
                
            </div>
          
        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock content %}
  