{% extends "base.html" %}
{% block 'body' %}
{% if form.errors %}
<h6>invalid user</h6>
    
{% endif %}
<div class="container">
    <div class="jumbotron">
        <center>
            <h1>MUST BE A SUPERUSER TO LOGIN</h1>
        <form action="{% url 'draft' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">LOGIN</button>
            <input type="hidden" name="next" value="{{homepage}}">
        </form>
        </center>
    </div>
</div>

{% endblock %}